<!--
Note: this is a copy of original minimal-mistake's file.
Modifications:
1. show the teaser in list layout.
   See: https://github.com/mmistakes/minimal-mistakes/issues/1717#issuecomment-559617503
2. allow more words in excerpt (truncation)
-->

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.excerpt_length %}
  {% assign excerpt_length = post.excerpt_length %}
{% else %}
  {% assign excerpt_length = site.excerpt_length | default: 160 %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <a href="{{ post.url | relative_url }}" rel="permalink"><img src="{{ teaser | relative_url }}" alt=""></a>
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
    {% if site.show_teaser_in_list and include.type == "list" and teaser %}
      <div class="archive__item-teaser list-archive__item-teaser">
        <a href="{{ post.url | relative_url }}" rel="permalink"><img src="{{ teaser | relative_url }}" alt=""></a>
      </div>
    {% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: excerpt_length }}</p>{% endif %}
  </article>
</div>
